html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: #000;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}

.button {
  padding: 18px 46px;
  background-color: #ffbd59;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  font-weight: 600;
}

.header {
  background-color: #fff8f3;
}

.container {
  max-width: 1180px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.menu__button {
  display: none;
  width: 30px;
  height: 25px;
  background-color: transparent;
  flex-direction: column;
  justify-content: space-between;
}

.menu__button span {
  width: 100%;
  height: 1px;
  background-color: #7b6152;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
}

.menu__list {
  display: flex;
  gap: 20px;
}

.menu__list-link {
  text-transform: uppercase;
}

.phone {
  position: relative;
}

.phone::before {
  content: "";
  position: absolute;
  background-image: url(../images/phone.svg);
  width: 20px;
  height: 20px;
  left: -23px;
  top: -2px;
}

.main {
  background-color: #fff8f3;
  overflow-x: clip;
}

.title {
  font-family: "Yeseva One", cursive;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 15px;
}

.section {
  padding-bottom: 150px;
}

.section--decor {
  position: relative;
}

.section--decor::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../images/section-decor.png);
  width: 22px;
  height: 30px;
}

.section--decor::after {
  content: "";
  position: absolute;
  left: 22px;
  bottom: 13px;
  background-color: #7b6152;
  width: 1000%;
  height: 1px;
}

.top {
  min-height: 850px;
  padding-top: 30px;
  padding-bottom: 150px;
}

.top__inner {
  position: relative;
}

.top__content {
  width: 370px;
  padding-top: 165px;
}

.top__title {
  font-family: "Yeseva One", cursive;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 15px;
}

.top__text {
  margin-bottom: 48px;
  font-size: 14px;
}

.top__buy {
  padding: 18px 54px;
  background-color: #ffbd59;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  font-weight: 600;
}

.top__img {
  position: absolute;
  top: 0;
  left: 240px;
}

.about {
  background-color: #a5978e;
  padding: 50px 0 48px;
  color: #fafafa;
  margin-bottom: 150px;
}

.about__inner {
  display: flex;
  align-items: center;
}

.about__content {
  flex: none;
  width: 370px;
}

.about__text {
  margin-bottom: 15px;
}

.about__list {
  display: flex;
  align-items: center;
  padding-left: 110px;
  padding-bottom: 48px;
  gap: 0 20px;
}

.about__item-img {
  margin-bottom: 10px;
}

.about__item-text {
  font-size: 11px;
}

.section__inner {
  display: flex;
}

.section__descr {
  flex: none;
  width: 372px;
}

.section__content-descr {
  flex: 100%;
  display: grid;
  grid-template-columns: auto auto;
}

.goods__content {
  gap: 50px 90px;
}

.section__content-descr {
  padding-bottom: 92px;
}

.goods__item {
  width: 290px;
  margin: 0 auto;
  text-align: center;
}

.goods__item-img {
  margin-bottom: 8px;
}

.goods__item-price {
  margin-bottom: 12px;
  font-family: Yeseva One;
  font-size: 16px;
  font-weight: 400;
}

.goods__item-title {
  margin-bottom: 16px;
  font-family: Yeseva One;
  font-size: 16px;
  font-weight: 400;
}

.goods__item-text {
  font-size: 12px;
  margin-bottom: 27px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 35px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  width: 230px;
  gap: 16px;
}

.footer__social {
  display: inline-flex;
  align-items: center;
  gap: 15px;
}

@media (max-width: 1000px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .top {
    min-height: 595px;
  }
  .top__content {
    width: 333px;
    padding-top: 93px;
  }
  .top__text {
    margin-bottom: 30px;
  }

  .top__img {
    left: 300px;
  }

  .top__img-l {
    width: 655px;
  }

  .about__content {
    width: 300px;
  }

  .about__list {
    padding-left: 20px;
  }

  .section__descr {
    width: 300px;
  }

  .section__text {
    font-size: 10px;
  }

  .goods__content {
    gap: 67px 67px;
  }
}

@media (max-width: 900px) {
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__contacts {
    width: 100%;
    text-align: center;
    padding-top: 15px;
  }
  .footer__social {
    justify-content: center;
  }

  .section__descr {
    width: 200px;
  }

  .goods__content {
    gap: 30px 16px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 10px;
  }

  .title {
    font-size: 15px;
  }

  .container {
    max-width: 640px;
  }
  .phone::before {
    width: 14px;
    height: 14px;
    left: -16px;
    top: -1px;
    background-size: cover;
  }
  .top__content {
    width: 230px;
    padding-top: 100px;
  }

  .top__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .top__text {
    margin-bottom: 20px;
  }
  .top__img {
    left: 180px;
  }

  .about__content {
    width: 200px;
  }

  .about__list {
    margin-left: 27px;
    margin-bottom: 33px;
    padding-left: 21px;
    gap: 0 9px;
  }

  .about__item-img {
    margin-bottom: 5px;
  }

  .about__item-img--1 {
    width: 120px;
  }

  .about__item-img--2 {
    width: 190px;
  }

  .about__item-img--3 {
    width: 120px;
  }

  .about__item-text {
    font-size: 6px;
  }

  .button {
    font-size: 12px;
    padding: 11px 27px;
  }
  .goods__item {
    width: 200px;
  }

  .goods__item-img {
    width: 188px;
    margin-bottom: 5px;
  }

  .goods__item-price {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .goods__item-title {
    font-size: 12px;
    margin-bottom: 16px;
  }

  .goods__item-text {
    font-size: 8px;
    margin-bottom: 20px;
  }
}

@media (max-width: 640px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .menu__button {
    display: flex;
  }
  .header__menu-list {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-110%);
    transition: transform 0.5s ease;
    width: 153px;
    padding: 25px 34px 25px 46px;
    flex-direction: column;
    gap: 20px 0;
    background: #7b6152;
    color: #fff8f3;
  }
  .header__menu-list.menu--open {
    transform: translateY(0%);
    z-index: 5;
  }
  .header__menu {
    order: 1;
  }

  .section__inner {
    flex-direction: column;
  }

  .section__descr {
    display: block;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
  }

  .about {
    margin-bottom: 50px;
  }

  .section {
    padding-bottom: 50px;
  }

  .section__content-descr {
    padding-bottom: 63px;
  }
}

@media (max-width: 500px) {
  .footer__inner {
    flex-direction: column;
  }
  .footer__menu-list {
    flex-direction: column;
    padding: 50px 0;
  }
  .footer__contacts {
    padding-top: 0;
  }
  .footer {
    padding: 50px 0;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .title {
    margin-bottom: 20px;
  }

  .top {
    padding-bottom: 50px;
    min-height: 389px;
  }

  .top__img-l {
    width: 309px;
  }
  .top__content {
    width: 179px;
    padding-top: 80px;
  }

  .top__title {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .top__text {
    margin-bottom: 15px;
    font-size: 8px;
  }
  .top__img {
    left: 167px;
  }
  .top__buy {
    padding: 13px 40px;
    font-size: 10px;
  }

  .about__content {
    width: 170px;
  }

  .about__list {
    margin-left: 5px;
    margin-bottom: 0;
    padding-left: 11px;
    padding-bottom: 63px;
    gap: 5px;
    align-items: end;
  }

  .about__item-text {
    display: none;
  }

  .about__item-img--1 {
    width: 80px;
  }

  .about__item-img--2 {
    width: 140px;
  }

  .about__item-img--3 {
    width: 80px;
  }

  .goods__title {
    margin-bottom: 15px;
  }
}

@media (max-width: 360px) {
  .title {
    margin-bottom: 10px;
  }

  .top {
    padding-bottom: 50px;
    min-height: 262px;
  }

  .top__img-l {
    width: 155px;
  }
  .top__content {
    width: 203px;
    padding-top: 30px;
  }

  .top__title {
    font-size: 18px;
  }

  .top__text {
    width: 198px;
    font-size: 10px;
  }
  .top__img {
    top: 40px;
    left: 210px;
  }

  .about {
    padding-top: 25px;
    padding-bottom: 9px;
  }

  .about__content {
    width: 233px;
    align-self: flex-start;
  }

  .about__text {
    font-size: 8px;
    margin-bottom: 10px;
  }

  .about__list {
    margin-left: 16px;
    padding-top: 14px;
    padding-bottom: 38px;
  }

  .about__item-img--2 {
    display: none;
  }

  .about__item-img--3 {
    display: none;
  }

  .section__descr {
    width: 235px;
    margin-bottom: 25px;
  }

  .goods__item {
    width: 150px;
  }

  .goods__item-img {
    width: 141px;
  }

  .goods__item-price {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .goods__item-title {
    font-size: 10px;
    margin-bottom: 7px;
  }

  .goods__item-text {
    font-size: 6px;
    margin-bottom: 16px;
  }

  .button {
    font-size: 8px;
    padding: 11px 22px;
  }
}
